nav {
  width: max-content;
  padding: 0.4rem;
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);
  bottom: 0.5rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  border: 1px solid var(--color-primary);
  backdrop-filter: blur(15px);
  transition: transform 0.3s ease-in-out;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.5rem;
}

nav a.active {
  background: var(--color-primary);
  color: var(--light);
}

@media (min-width: 1800px) {
  nav {
    position: absolute;
    top: 25%;
    left: 0;
    width: 70px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: none;
    height: 50%;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--color-primary-variant);
    transition: 0.3s;
    transition-delay: 0.2s;
    animation: collapseDesktop 1s ease;
    animation-fill-mode: forwards;

    &::after {
      display: block;
      content: "";
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 7rem;
      border-radius: 1rem;
      background-color: rgba(31, 228, 74, 0.418);
      transition: height 0.6s;
      animation: expandLargeDevices 0.6s linear 1;
    }
    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 5px;
      height: 30px;
      top: 50%;
      left: 7rem;
      background-color: var(--color-light);
      border-radius: 1rem;
      opacity: 1;
      transition: opacity 0.6s;
      animation: jump 7s linear infinite;
      z-index: 12;
    }
    &:hover,
    &:focus {
      left: 0;
      transition: left 0.03s;

      animation: reverse;
    }

    &:hover::after {
      animation-name: none;
      top: 50%;
      height: 0;
      transition: 0.6s;
    }
    &:hover::before {
      animation-name: none;
      opacity: 0;
    }
  }

  nav a {
    transition: all 0.6s;
  }
  nav a.active {
    border-radius: 50%;
    border: 4px solid var(--dark);
    transform: translateX(35px) rotate(1turn);
  }
}
//Mobile animation
@keyframes expandMobile {
  0% {
    width: 0%;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

@keyframes collapsedMobile {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 50%;
    width: 0%;
  }
}
@keyframes showNHide {
  0% {
    bottom: 0.5rem;
  }
  100% {
    bottom: -4.5rem;
  }
}

//large device animations

@keyframes expandLargeDevices {
  0% {
    top: 50%;
    height: 20%;
  }
  50% {
    top: 20%;
    height: 70%;
  }
  100% {
    top: 0;
    height: 100%;
  }
}
@keyframes collapseDesktop {
  0% {
    left: 0;
  }
  100% {
    left: -6%;
  }
}
@keyframes jump {
  0% {
    top: 0;
  }
  20% {
    top: 40%;
  }
  50% {
    top: 90%;
  }
  80% {
    top: 40%;
  }
  100% {
    top: 0;
  }
}
