nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4rem;
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);
  bottom: 0.5rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  border: 1px solid var(--color-primary);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-animation: showNHide 1s linear;
          animation: showNHide 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
nav::after {
  display: block;
  content: "";
  width: 0;
  height: 10px;
  left: 50%;
  top: -1.5rem;
  position: absolute;
  border-radius: 1rem;
  background-color: rgba(31, 228, 74, 0.418);
  transition: height 0.6s;
  -webkit-animation: expandMobile 1s ease 1;
          animation: expandMobile 1s ease 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
nav:hover {
  animation: reverse;
}
nav:hover::after {
  -webkit-animation: collapsedMobile 1s ease 1;
          animation: collapsedMobile 1s ease 1;
}

@-webkit-keyframes expandMobile {
  0% {
    width: 0%;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

@keyframes expandMobile {
  0% {
    width: 0%;
  }
  100% {
    left: 0;
    width: 100%;
  }
}
@-webkit-keyframes collapsedMobile {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 50%;
    width: 0%;
  }
}
@keyframes collapsedMobile {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 50%;
    width: 0%;
  }
}
@-webkit-keyframes showNHide {
  0% {
    bottom: 0.5rem;
  }
  100% {
    bottom: -4.5rem;
  }
}
@keyframes showNHide {
  0% {
    bottom: 0.5rem;
  }
  100% {
    bottom: -4.5rem;
  }
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.5rem;
}

/* nav a:hover {
  background: rgba(0, 0, 0.2);
  transform: translateY(-10px);
} */
nav a.active {
  background: var(--color-primary);
  color: var(--light);
}

@media (min-width: 1800px) {
  nav {
    position: absolute;
    top: 25%;
    left: -6%;
    width: 70px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: none;
    height: 50%;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--color-primary-variant);
    transition: 0.3s;
    transition-delay: 0.2s;
  }
  nav::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(/logo.svg);
  }
  nav::after {
    display: block;
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 8rem;
    border-radius: 1rem;
    background-color: rgba(31, 228, 74, 0.418);
    transition: height 0.6s;
    -webkit-animation: expandLargeDevices 0.6s linear 1;
            animation: expandLargeDevices 0.6s linear 1;
  }
  nav:hover {
    left: 0;
    transition: left 0.03s;
  }
  nav:hover::after {
    -webkit-animation-name: none;
            animation-name: none;
    top: 50%;
    height: 0;
    transition: 0.6s;
  }
  @-webkit-keyframes showBar {
    0% {
      left: -6%;
    }
    100% {
      left: 0;
    }
  }
  @keyframes showBar {
    0% {
      left: -6%;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes expandLargeDevices {
    0% {
      top: 50%;
      height: 20%;
    }
    50% {
      top: 20%;
      height: 70%;
    }
    100% {
      top: 0;
      height: 100%;
    }
  }
  @keyframes expandLargeDevices {
    0% {
      top: 50%;
      height: 20%;
    }
    50% {
      top: 20%;
      height: 70%;
    }
    100% {
      top: 0;
      height: 100%;
    }
  }
  nav a {
    transition: all 0.6s;
  }
  nav a.active {
    border-radius: 50%;
    border: 4px solid var(--dark);
    transform: translateX(35px) rotate(1turn);
  }
}/*# sourceMappingURL=nav.css.map */