.about_me_container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;

  .head {
    top: 0;
  }
  .me_content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 6rem;
    row-gap: 1em;

    img {
      width: 260px;
      height: 260px;
      object-fit: cover;
      transform: rotateY(180deg);
      animation: anim 20s linear infinite;
    }

    .intro {
      width: 90%;

      color: var(--light);
      text-align: center;
      .about_cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5em;
        .about_card {
          background: var(--color-primary-variant);
          border: 1px solid transparent;
          border-radius: 1rem;
          padding: 1rem;
          text-align: center;
          transition: transition 4s;
          .about_icon {
            color: var(--color-primary);
            font-size: 1.4rem;
          }
          h5 {
            font-size: 0.9rem;
          }
          small {
            color: var(--color-light);
            font-size: 0.7rem;
          }
        }
      }
      p {
        margin: 1rem 0;
      }
    }
  }
}
@keyframes anim {
  0% {
    border-radius: 21% 39% 39% 50% / 37% 48% 52% 36%;
    box-shadow: 10px 5px 5px var(--color-primary-variant);
  }
  20% {
    border-radius: 46% 36% 45% 64% / 78% 67% 29% 23%;
    box-shadow: 0px 20px 5px var(--color-primary-variant);
  }
  40% {
    border-radius: 57% 39% 39% 50% / 69% 48% 52% 16%;
    box-shadow: -5px 30px 5px var(--color-primary-variant);
  }
  60% {
    border-radius: 57% 39% 39% 50% / 69% 48% 52% 16%;
    box-shadow: -5px -20px 5px var(--color-primary-variant);
  }
  80% {
    border-radius: 46% 36% 45% 64% / 78% 67% 29% 23%;
    box-shadow: -5px 20px 5px var(--color-primary-variant);
  }
  100% {
    border-radius: 21% 39% 39% 50% / 37% 48% 52% 36%;
    box-shadow: 10px 5px 5px var(--color-primary-variant);
  }
}
@media (min-width: 1800px) {
  .about_me_container {
    overflow: hidden;
    .me_content {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      img {
        width: 500px;
        height: 500px;
      }
      .intro {
        width: 100%;
        text-align: left;
        .about_cards {
          gap: 3rem;
          .about_card {
            .about_icon {
              color: var(--color-primary);
              font-size: 2rem;
              margin-bottom: 1rem;
            }
            h5 {
              font-size: 1rem;
            }
            small {
              font-size: 0.8rem;
            }
          }
        }
        p {
          margin: 1.5rem 0;
          font-size: 1.2rem;
        }
      }
    }
  }
}
