.bg {
  background-color: var(--dark);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 1rem;
}

.head {
  text-align: center;
}

.icon_container {
  position: relative;
  width: 20rem;
  height: 20rem;
  background: var(--bigShadow);
  border: 1px solid transparent;
  border-radius: 50%;
  /* animation: identifier 10s linear infinite; */
}
.icon_container .icon {
  position: relative;
  left: -50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.icon_container .icon .icon_box {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  transform: rotate(calc(30deg * var(--i)));
  transform-origin: 175px;
  z-index: 100;
  overflow: hidden;
}
.icon_container .icon .icon_box.active {
  border: 2px dashed rgb(240, 89, 89);
}
.icon_container .icon .icon_box.active .logo {
  filter: grayscale(0);
}
.icon_container .icon .icon_box .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(calc(-30deg * var(--i)));
  filter: grayscale(1);
}

.content {
  height: 50%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
}
.content::before {
  content: "";
  position: absolute;
  inset: 7rem;
  border: 2px solid transparent;
  border-left: 2px solid #2196f3;
  border-right: 2px solid #fff;
  border-radius: 50%;
  -webkit-animation: animte_01 5s linear infinite;
          animation: animte_01 5s linear infinite;
  z-index: 1;
  pointer-events: none;
}
.content::after {
  content: "";
  position: absolute;
  inset: 8rem;
  border: 2px solid transparent;
  border-left: 2px solid #ff1d50;
  border-right: 2px solid #fff;
  border-radius: 50%;
  -webkit-animation: animte_02 2.5s linear infinite;
          animation: animte_02 2.5s linear infinite;
  z-index: 1;
  pointer-events: none;
}
.content .contentBX {
  position: absolute;
  transform: scale(0);
  transition: 0.5s;
  opacity: 0;
}
.content .contentBX.active {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}
.content .contentBX .card {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .contentBX .card .icon_box {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.content .contentBX .card .icon_box .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content .contentBX .card .textBx {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .contentBX .card .textBx h2 {
  position: relative;
  font-size: 1.25em;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}
.content .contentBX .card .textBx h2 span {
  font-size: 0.65em;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.content .contentBX .card .textBx .sci {
  position: relative;
  display: flex;
  gap: 7px;
  margin-top: 10px;
}
.content .contentBX .card .textBx .sci li {
  list-style: none;
}
.content .contentBX .card .textBx .sci li a {
  text-decoration: none;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: #fff;
  border-radius: 0.2em;
  filter: grayscale(1);
}
.content .contentBX .card .textBx .sci li a:hover {
  filter: grayscale(0);
}

@-webkit-keyframes animte_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animte_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animte_02 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animte_02 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes identifier {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes identifier {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .icon_container {
    width: 45.777rem;
    height: 45.777rem;
  }
  .icon_container .icon .icon_box {
    transform-origin: 392px;
    width: 50px;
    height: 50px;
  }
  .content {
    top: 0;
    width: 50%;
    height: 100%;
    left: 25%;
  }
  .content::after {
    inset: 10rem;
  }
  .content::before {
    inset: 12rem;
  }
  .content .contentBX .card .icon_box {
    width: 300px;
    height: 300px;
  }
  .content .contentBX .card .textBx h2 {
    font-size: 2em;
  }
  .content .contentBX .card .textBx .sci li {
    list-style: none;
  }
  .content .contentBX .card .textBx .sci li a {
    width: 50px;
    height: 50px;
  }
}/*# sourceMappingURL=skill.css.map */