:root {
  --dark: #060606;
  --light: #ffffff;
  --small_shadow: radial-gradient(
    50% 50% at 50% 50%,
    #489250 0%,
    rgba(11, 17, 6, 0.24) 100%
  );

  --bigShadow: radial-gradient(
    50% 50% at 50% 49.91%,
    #489250 0%,
    rgba(6, 6, 6, 0) 100%
  );
  --i: 0;
  --h3Color: rgb(119, 114, 114);
  --desktopSize: 90vw;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
h3 {
  color: var(--h3Color);
  font-weight: bold;
}
h1 {
  color: #fff;
  font-weight: bold;
}
.main_container {
  position: relative;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
  transition: transform 0.6s;
  position: absolute;
}

.bye {
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}

@media (min-width: 768px) {
}
